main{
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
}
.sidebar-navigation-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    padding: 0;
    background-color: var(--azul);
    color: white;
    
}
.sidebar-navigation-container h2 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
}
.sidebar-navigation-container ul {
    list-style: none;
    display: grid;
    width: 100%;
}
.sidebar-navigation-container ul li {
    width: 100%;
    display: grid;
}
.sidebar-navigation-container ul li a:hover {
    transition: all .2s ease;
    background-color: var(--amarillo);
}
.sidebar-navigation-container ul li a{
    transition: all .2s ease;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 40px 20px 40px;
    display: block;
    color: var(--blanco);
    white-space: nowrap;
}
.navbar-icons {
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    transform: translate(0px , 20px);
}
@media (max-width: 1024px){
    main{
        grid-template-columns: 120px auto;
    }
    .sidebar-navigation-container h2{
        display: none;
    }
    .sidebar-navigation-container ul {
        justify-content: center;
    }
    .sidebar-navigation-container ul li a {
        font-size: 0px;
        padding: 20px 20px;
    }
    .navbar-icons {
        height: 40px;
        margin: 0px;
        transform: translate(1px , 1px);
    }
    .sidebar-navigation-container ul li a:hover {
        border-radius: 50%;
    }
    .sidebar-navigation-container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}